/* Général */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}


body { 
   background-image: url("../images/partie1.png"); 
   background-position: top;
   background-repeat: no-repeat;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

p {
	font-family: 'OpenSans', Arial, serif;
	color: white;
}

h1 {
	font-family: 'OpenSans-Light', Arial, serif !important;
	color: white !important;
}


/* Ecran normal */

#section_one .container .col-md-4 {
	margin-left: 500px;
}

.img-logo {
	height: 850px;
}