/* Général */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

body { 
   background-image: url("../images/partie1.png"); 
   background-position: top;
   background-repeat: no-repeat;
   margin: 0px;
   padding: 0px;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Ecran normal */

/*Section 1*/

#section_one p {
	font-family: 'OpenSans', Arial, serif;
	color: white;
}

#section_one h1 {
	font-family: 'OpenSans-Light', Arial, serif !important;
	color: white !important;
}

#section_one .container .col-md-4 {
	margin-left: 500px;
}

/*Section 2 : Description */

#description h1 {
	font-family: 'OpenSans-Light', Arial, serif !important;
}

#description p {
	font-family: 'OpenSans', Arial, serif;
}

#description_2 p {
	font-family: 'OpenSans', Arial, serif;
}

#description .container .col-md-6  {
	margin-top: -210px;
	padding-left: 0;
}

#description_2 .container .col-md-6  {
	margin-top: -25px;
    padding-left: 0;
}

/*Section 3 : Contenu mis en avant */

#featured_content h1 {
	color: white !important;
	font-family: 'OpenSans-Light', Arial, serif !important;	
	margin-left: 40px;
}

#featured_content p {
	color: white !important;
	font-family: 'OpenSans', Arial, serif !important;	
	margin-left: 40px;
}

#featured_content .container .col-md-4 {
	height: 275px;
}

#featured_content .container .col-md-8 {
	height: 275px;
}

.bold {
	color: white !important;
	font-family: 'OpenSans-Bold', Arial, serif !important;	
}

.pink {
background-color: #d996ac;
}

.purple {
background-color: #5b6690;
}

.green {
background-color: #77c1ab;	
}

.img1 {
background-image: url("../images/img1.png");
}

.img2 {
background-image: url("../images/img2.png");
}

/*Section 4 : Details */

#details h1 {
	font-family: 'OpenSans-Light', Arial, serif !important;	
	padding-left: 0px;
}

#details h6 {
	font-family: 'OpenSans-Semibold', Arial, serif !important;	
	padding-left: 0px;
}

#details p {
	font-family: 'OpenSans', Arial, serif !important;	
	padding-left: 0px;
}

#details .container .col-md-4  {
	padding-left: 0px;
}

#details .container .col-md-3  {
	padding-left: 0px;
}

/*Section 5 : Grande photo */

.fond_big_picture {
    background-image: url("../images/img3.png");
    background-repeat: no-repeat;
    height: 1276px;
    padding: 0px;
}


#big_picture h1 {
	color: white !important;
	font-family: 'OpenSans-Light', Arial, serif !important;	
	margin-left: 0px;
	font-size: 60px;
}

#big_picture p {
	color: white !important;
	font-family: 'OpenSans', Arial, serif !important;	
	margin-left: 0px;
}

#big_picture .container .col-md-12{
	margin-top: 800px;
	padding: 0;
}


/*Section 6 : A propos */

#about {
	margin-top: -20px;
    background-color: #82ca9c;
    height: 553px;
}

#about h1 {
	color: white !important;
	font-family: 'OpenSans-Light', Arial, serif !important;	
}

#about h6 {
	color: white !important;
	font-family: 'OpenSans-Semibold', Arial, serif !important;	
	padding-left: 0px;
}

#about p {
	color: white !important;
	font-family: 'OpenSans', Arial, serif !important;	
	padding-left: 0px;
}

#about .container .col-md-6 {
	margin-top: 125px;
	padding: 0;
}

#about .container .col-md-4 {
	margin-top: 90px;
	padding-left: 0;
}

/*Section 7 : Gammes de prix */

#price_ranges .container  .right {
    margin-top: -20px;
	background-color: #f6f7fa;
	height: 120px;
}
